header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}


/* Task 1 */

a:link {
  background-color: blue;
}

a:visited {
  background-color: red;
}

a:hover {
  background-color: yellow;
}

a:active {
  color: violet;
}
/* Task 2 */

button:hover {
  background-color: orange;
}

button:active {
  background-color:red;
}
/* Task 3 */

p::first-letter {
  color: red;
}

p::first-line {
  color: violet;
}
/* Task 4 */